.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0;
}

.regulation {
  width: 50vw;
  text-align: center;
  line-height: 1.75rem;
  color: #505050;
}

.table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
}
