@import "../../colors.css";

.header {
  background-color: var(--secondary-color);
  height: 10rem;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin: 4rem 0 0 5rem;
}
.main {
  margin: 4rem 0;
}
.account {
  margin: 4rem 5rem 0 0;
}
