@import "../../colors.css";

.header {
  background-color: var(--secondary-color);
  height: 7.5rem;
  box-shadow: 0px 10px 10px -10px #505050;
}

.container {
  display: flex;
  width: 100%;
}

.logo {
  margin: 0.5rem 0 0 1rem;
}
.image {
  height: 6.5rem;
  width: 20rem;
}
