.content {
  width: 100%;
}

.container {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 4px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.headerTable {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 0.75rem 1rem;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 16px;
}

.columnHeader {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.tableCell {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customPagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customPagination li {
  display: flex;
  list-style-type: none;
  margin-right: 10px;
}

.button,
.backButton {
  height: 2rem;
  width: 5.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--first-button-color);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(0 0 0, 0.1);
  font-size: medium;
}

.backButton {
  margin: 0 1.5rem 0 0;
}

.button:hover,
.backButton:hover {
  background-color: var(--first-button-color-hover);
}

.button:disabled,
.backButton:disabled {
  background-color: var(--first-button-color-disabled);
}
