.container {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  letter-spacing: 0.075rem;
}

.description {
  display: flex;
  justify-content: center;
  max-width: 30rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
